<div th:fragment="userInformation">

    <div>
        <div class="row no-gutters">
            <div style="width: 30%;">
                <img th:src="@{/images/anonymous_user.png}" class="card-img" style="border-radius: 50%;">
            </div>
            <div style="width: 65%; margin-top: auto; margin-bottom: auto; margin-right: 5%;">
                <p class="card-text"><small class="text-muted" style="margin-top: 12%">[[${user.name}]] [[${user.lastName}]]</small></p>
                <p class="card-text" style="margin-top: -12%"><small class="text-muted">[[${user.information}]]</small></p>
            </div>
        </div>
    </div>

</div>
